In [1]:
import pandas as pd

data = pd.read_csv('dataset.csv', names=['x1', 'x2', 'x3', 'y'])
data.head()

       x1    x2    x3  y
0  [-1441 -2228    8]  1
1  [-1727  -769    7]  1
2   [-440  2448    8]  1
3  [-1944  1874   11]  2
4   [-763 -1235    7]  1

In [2]:
data.dtypes

x1    object
x2     int64
x3    object
y      int64
dtype: object

In [3]:
data_numeric = data.copy()
data_numeric['x1'] = data['x1'].str.replace('[', '', regex=False).astype('int64')
data_numeric['x3'] = data['x3'].str.replace(']', '', regex=False).astype('int64')
data_numeric.head()

     x1    x2  x3  y
0 -1441 -2228   8  1
1 -1727  -769   7  1
2  -440  2448   8  1
3 -1944  1874  11  2
4  -763 -1235   7  1

In [4]:
data_numeric.dtypes

x1    int64
x2    int64
x3    int64
y     int64
dtype: object